.main-cotainer{
    display: flex;
    justify-content: space-around;
}

.card-container{
    width: 40%;
    box-shadow: 4px 4px 8px gray;
    margin: auto;
    text-align: center;
}

.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    margin: auto;
    text-align: center;
}